"*":
  "":
    slim:
      text:
        whitespace:
          removeTrailingWhitespace: true
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 60000
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "symbols-view"
      "linter-jsxhint"
      "language-gfm"
      "vim-mode"
    ]
    projectHome: "/Users/mabegg/dev/jigsaw"
    themes: [
      "atom-material-ui"
      "base16-eighties-one-dark"
    ]
  editor:
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    tabType: "soft"
    zoomFontWhenCtrlScrolling: true
  emmet: {}
  "exception-reporting":
    userId: "2c70e38a-8d85-6bbf-ad01-ba120f54c149"
  "file-icons": {}
  "language-babel":
    disableWhenNoBabelrcFileInPath: true
    transpileOnSave: false
  linter: {}
  "linter-js-standard":
    showEslintRules: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: false
    executablePath: "/usr/local/bin/jshint"
    lintInlineJavaScript: false
  "linter-rubocop":
    executablePath: "/Users/mabegg/.rbenv/versions/1.9.3-p551/bin/rubocop"
  "linter-ruby":
    rubyExecutablePath: "/Users/mabegg/.rbenv/shims/ruby"
  "one-dark-ui": {}
  "rails-rspec": {}
  react: {}
  "ruby-test":
    shell: "zsh"
  "tool-bar": {}
  "tree-view":
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  welcome:
    showOnStartup: false
  "xml-formatter":
    xmlUtf8Header: false
".cucumber.rspec.ruby.source.steps":
  editor:
    softWrapHangingIndent: 2
".elixir.html.text":
  editor:
    softWrapHangingIndent: 2
".elixir.source":
  editor:
    softWrapHangingIndent: 2
".elixir.text":
  editor:
    softWrapHangingIndent: 2
".feature.gherkin.text":
  editor:
    softWrapHangingIndent: 2
