"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: true
    fontSize: 15
    fontFamily: "Menlo"
  core:
    disabledPackages: [
      "symbols-view"
      "linter-jsxhint"
    ]
    themes: [
      "atom-material-ui"
      "base16-eighties-one-dark"
    ]
    projectHome: "/Users/mabegg/dev/jigsaw"
  "exception-reporting":
    userId: "2c70e38a-8d85-6bbf-ad01-ba120f54c149"
  welcome:
    showOnStartup: false
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 60000
  "language-babel":
    disableWhenNoBabelrcFileInPath: true
    transpileOnSave: false
  rspec:
    command: "zeus test"
  "xml-formatter":
    xmlUtf8Header: false
  "one-dark-ui": {}
  emmet: {}
  "linter-jshint":
    executablePath: "/usr/local/bin/jshint"
    lintInlineJavaScript: false
    disableWhenNoJshintrcFileInPath: false
  "linter-ruby":
    rubyExecutablePath: "/Users/mabegg/.rbenv/shims/ruby"
  autosave:
    enabled: true
  linter: {}
  "atom-material-ui":
    compactTreeView: true
    tabSize: "Small"
    themeSyle: "Lighter"
    depth: true
    disableAnimations: true
  "file-icons": {}
  react: {}
  "":
    slim:
      text:
        whitespace:
          removeTrailingWhitespace: true
  "tree-view":
    showOnRightSide: true
  "linter-rubocop":
    executablePath: "/Users/mabegg/.rbenv/versions/1.9.3-p551/bin/rubocop"
  "tool-bar": {}
  "rails-rspec": {}
  "ruby-test":
    rspecAllCommand: "zeus test"
    rspecFileCommand: "zeus test {relative_path}"
    rspecSingleCommand: "zeus test {relative_path}:{line_number}"
